body {
	text-align: center;
	font-size: 15px;
	font-family: Verdana;
	margin: 0px 0px 0px 0px;
	min-height: 100vh;
	position: relative;
}

p {
	font-size: 150%;
}

.taskdesc {
	margin-left: 25vw;
	margin-right: 25vw;
	text-align: center;
}

body::after {
	content: '';
	display: block;
	height: 50px;
	margin-top: 10px;
}

.header {
	background-color: #8698b5;
	padding: 5px 5px 5px 5px;
	margin-left: auto;
	margin-right: auto;
}

.header_el {
	display: inline;
	border-radius: 5px;
	background-color: #ffffff;
	font-size: 150%;
	padding: 10px 25px 10px 25px;
	margin: 0px 5px 0px 5px;
}

.header_el a {
	color: #555555;
	text-decoration: none;
}

footer {
	position: absolute;
	bottom: 0;

	height: 50px;
	width: 100%;

	color: #888888;
	font-size: 85%;
	text-align: center;
}

iframe {
	border: none;
	margin: 10px 10px 10px 10px;
}

.sketchfab-embed-wrapper iframe {
	width: 75vw;
	height: 75vh;
}

button {
	background-color: #8698b5;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
}

button:hover {
	background-color: #7688a6; 
	cursor: pointer;
}

.lab3div {
	display: inline-block;
	background-color: #112358;
	color: white;
	margin: 10px 10px 10px 10px
}

.tinput {
	font-size: 150%;
	padding: 5px;
	border-radius: 5px;
	border-style: groove;
	width: 50vw;
}

#radios {
	display: inline-block;
	text-align: left;
}

.radioel {
	margin: 5px;
	font-size: 150%;
}

#div81, #div82 {
	display: none;
}
